<app-layout
  header="Settings">
  <div class="inner-settings">
    <app-settings-item
      class="inner-settings__item"
      header="Appearance"
      description="Customize how Ruckit looks on your device">
      <nb-select placeholder="Select Showcase" [(selected)]="selectedTheme">
        <nb-option (click)="onChangeTheme()" value="default">Light</nb-option>
        <nb-option (click)="onChangeTheme()" value="dark">Dark</nb-option>
      </nb-select>
    </app-settings-item>
  </div>
  
</app-layout>