<div class="change-password">
  <h3
    class="change-password__header header_disable"
    [ngClass]="{'header_disabled': formGroup.disabled}">
    Change password
  </h3>
  <form class="change-password-inputs" [formGroup]="formGroup" (ngSubmit)="submit()">
    <ruckit-password-input
      class="change-password-inputs__item password-input"
      formControlName="enterCurrentPassword"
      [status]="invalidAfterClick && formGroup.controls.enterCurrentPassword.invalid ? 'danger' : 'basic'"
      [fullWidth]="true"
      placeholder="Enter current password">
    </ruckit-password-input>
    <ruckit-password-input
      class="change-password-inputs__item password-input"
      formControlName="enterNewPassword"
      [status]="invalidAfterClick && formGroup.controls.enterNewPassword.invalid ? 'danger' : 'basic'"
      [fullWidth]="true"
      placeholder="Enter new password">
    </ruckit-password-input>
    <ruckit-password-input
      class="change-password-inputs__item password-input"
      formControlName="confirmNewPassword"
      [status]="invalidAfterClick && formGroup.controls.confirmNewPassword.invalid ? 'danger' : 'basic'"
      [fullWidth]="true"
      placeholder="Confirm new password">
    </ruckit-password-input>
    <button [disabled]="disabled" nbButton fullWidth>Change password</button>
  </form>
</div>