@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

:host {
    display: block;
}

.change-password {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 1.25rem;
    }

    .header {
        &_disabled {
            color: var(--disable-header-text-color);
        }
    }

    .change-password-inputs {
        display: flex;
        flex-direction: column;

        &__item:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}