:root {
    --ruckit-red-color: #F0331B;
    --ruckit-white-color: #FEFEFE;
    --ruckit-black-color: #111111;
}

html:not([dark]) {
    --ruckit-global-button-main-color: var(--ruckit-red-color);
    --ruckit-global-button-cross-color: var(--ruckit-white-color);
    --ruckit-global-button-main-color-hover: var(--ruckit-black-color);
    --ruckit-global-button-cross-color-hover: var(--ruckit-white-color);
}

html[dark] {
    --ruckit-global-button-main-color: var(--ruckit-red-color);
    --ruckit-global-button-cross-color: var(--ruckit-white-color);
    --ruckit-global-button-main-color-hover: var(--ruckit-white-color);
    --ruckit-global-button-cross-color-hover: var(--ruckit-black-color);
}


.black-list-button svg {
    cursor: pointer;
    --ruckit-button-main-color: var(--ruckit-global-button-main-color);
    --ruckit-button-cross-color: var(--ruckit-global-button-cross-color);
}

.black-list-button svg:hover {
    --ruckit-button-main-color: var(--ruckit-global-button-main-color-hover);
    --ruckit-button-cross-color: var(--ruckit-global-button-cross-color-hover);
}
