<div class="sidebar">
  <app-sidebar-header
    class="sidebar__header"
    [clickable]="true"
    (headerClick)="changeItem(SideBarItems.header.key)">
  </app-sidebar-header>
  <app-sidebar-item
    class="sidebar__item sidebar__item_margin_bottom_1rem sidebar__item_margin_top_075rem"
    (click)="changeItem(SideBarItems.aboutExtension.key)"
    content="About the extension"
    icon="about-extension-linear-28"
    iconLinear="about-extension-linear-28"
    iconSolid="about-extension-solid-28"
    [active]="SideBarItems.aboutExtension.params.active">
  </app-sidebar-item>
  <app-sidebar-item
    class="sidebar__item sidebar__item_margin_bottom_025rem"
    (click)="changeItem(SideBarItems.blackList.key)"
    content="Blacklist"
    icon="black-list-linear-28"
    iconLinear="black-list-linear-28"
    iconSolid="black-list-solid-28"
    [active]="SideBarItems.blackList.params.active">
  </app-sidebar-item>
  <app-sidebar-item
    class="sidebar__item sidebar__item_margin_bottom_025rem"
    (click)="changeItem(SideBarItems.hideList.key)"
    content="Hidelist"
    icon="hide-list-linear-28"
    iconLinear="hide-list-linear-28"
    iconSolid="hide-list-solid-28"
    [active]="SideBarItems.hideList.params.active">
  </app-sidebar-item>
  <app-sidebar-item
    class="sidebar__item sidebar__item_margin_bottom_1rem"
    (click)="changeItem(SideBarItems.password.key)"
    content="Password"
    icon="password-linear-28"
    iconLinear="password-linear-28"
    iconSolid="password-solid-28"
    [active]="SideBarItems.password.params.active">
  </app-sidebar-item>
  <app-sidebar-item
    class="sidebar__item sidebar__item_margin_bottom_025rem"
    (click)="changeItem(SideBarItems.settings.key)"
    content="Settings"
    icon="settings-linear-28"
    iconLinear="settings-linear-28"
    iconSolid="settings-solid-28"
    [active]="SideBarItems.settings.params.active">
  </app-sidebar-item>

  <app-sidebar-item
    class="sidebar__item sidebar__item_bottom"
    (click)="openExtensionReviews()"
    content="Give a feedback"
    icon="rate-extension-linear-28"
    iconLinear="rate-extension-linear-28"
    iconSolid="rate-extension-solid-28"
    [active]="false">
  </app-sidebar-item>
</div>
