@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

:host {
    display: block;
}

.sidebar-item {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &__icon {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        pointer-events: none;
    }

    .icon {
        color: var(--sidebar-item-content-inactive-color);

        &_active {
            color: var(--sidebar-item-icon-active-color) !important;
        }
    }

    .content {
        margin: 0;
        pointer-events: none;
        color: var(--sidebar-item-content-inactive-color);

        &_active {
            color: var(--sidebar-item-content-active-color);
        }
    }

    &_active {
        background-color: var(--sidebar-item-background-active-color);
    }

    &:hover {
        background-color: var(--sidebar-item-background-active-color);

        .sidebar-item__content {
            color: var(--sidebar-item-content-active-color);
        }

        .sidebar-item__icon {
            color: var(--sidebar-item-content-active-color);
        }
    }
}