<app-layout
  header="Password"
  *ngIf="selectedInquirePassowrdPeriod && isHasPassword != null">
	<div class="password">
		<app-settings-item
      class="password__item"
      header="Password request"
      description="Set the password that will be required to modify the restrictions you set">
      <ruckit-toggle
        class="ruckit-toggle"
        [preventDefault]="true"
        [lock]="true"
        (click)="onRequestToggleClick()"
        [checked]="isHasPassword">
      </ruckit-toggle>
    </app-settings-item>
    <app-settings-item
      class="password__item"
      header="Inquire password"
      description="Select how long restrictions editing session will last"
      [disabled]="!isHasPassword">
      <nb-select
        [disabled]="!isHasPassword"
        placeholder="Select Showcase"
        [(selected)]="selectedInquirePassowrdPeriod">
        <nb-option (click)="onChangeInquirePassowrdPeriod()" [value]="30">30 seconds</nb-option>
        <nb-option (click)="onChangeInquirePassowrdPeriod()" [value]="60">1 minute</nb-option>
      </nb-select>
    </app-settings-item>
    <app-change-password
      [disabled]="!isHasPassword"
      class="password__item password__change-password"
      (onSubmit)="submitChangePassword($event)">
    </app-change-password>
	</div>
</app-layout>
