<div class="header"
  [ngClass]="{
    'header_large-version' : viewVersion === ViewVersions.large
  }">
  @if(viewVersion === ViewVersions.large) {
    <h1 class="header__content">{{header}}</h1>
  }
  @else if (viewVersion === ViewVersions.small) {
    <h3 class="header__content">{{header}}</h3>
  }
</div>

<nb-card>
  <nb-card-body
    class="card-body"
    [ngClass]="{
      'card-body_large-version' : viewVersion === ViewVersions.large,
      'card-body_small-version' : viewVersion === ViewVersions.small,
    }">
    <ng-content></ng-content>
  </nb-card-body>
</nb-card>

