@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

:host {
    display: block;
}

::ng-deep {
    nb-layout-header {
        nav {
            display: block !important;
            height: 4.5rem;
        }

        border-bottom: 1px solid var(--layout-border-color);
    }
}

.popup-navbar {
    position: fixed;
    z-index: 100;
    bottom: 0.75rem;
    left: 50%;
    transform: translate(-50%, 0);
}