<app-layout header="About the extension" class="about-extension">
    <h5 class="about-extension__text">
        In today's world full of Internet noise, people’s attention is distributed by a variety of distractions. Traditional professions are giving way to e-commerce specialties, and time is being wasted in the vast expanse of social networks and streaming services. One of the most widely used platforms, YouTube, with its endless stream of content in Shorts and Recommendations is becoming a veritable maelstrom taking users away from their original goals.
    </h5>
    <h5 class="about-extension__text">
        Ruckit opens eyes to the problem of Internet addiction and offers a solution: helping people of all ages and statuses to organize the information they receive and turn the rational use of information to their advantage.
    </h5>
    <h5 class="about-extension__text">
        Our Values: Empathy, Help, Discipline, Focus.
    </h5>
    <h5 class="about-extension__text">
        Our Mission: To help users focus their scattered attention on their primary goals and to bring order to their online space.
    </h5>
</app-layout>
