<app-layout class="black-list" header="Blacklist">
	<app-black-list-simple-item
		class="black-list__item"
		[hidenCountItems]="blackListData[BlackListRestrictionType.Channels].length"
		[isRestricted]="isRestricted"
		[type]="BlackListRestrictionType.Channels"
		(manageResctrictionClick)="onManageRestrictionClick(BlackListRestrictionType.Channels)"
		(addItem)="onAddItem($event, BlackListRestrictionType.Channels)">
	</app-black-list-simple-item>
	<app-black-list-simple-item
		class="black-list__item"
		[hidenCountItems]="blackListData[BlackListRestrictionType.Keywords].length"
		[isRestricted]="isRestricted"
		[type]="BlackListRestrictionType.Keywords"
		(manageResctrictionClick)="onManageRestrictionClick(BlackListRestrictionType.Keywords)"
		(addItem)="onAddItem($event, BlackListRestrictionType.Keywords)">
	</app-black-list-simple-item>
	<app-black-list-simple-item
		class="black-list__item"
		[hidenCountItems]="blackListData[BlackListRestrictionType.Phrases].length"
		[isRestricted]="isRestricted"
		[type]="BlackListRestrictionType.Phrases"
		(manageResctrictionClick)="onManageRestrictionClick(BlackListRestrictionType.Phrases)"
		(addItem)="onAddItem($event, BlackListRestrictionType.Phrases)">
	</app-black-list-simple-item>
</app-layout>
