$color-base-black: #111111;
$color-base-gray-1: #151515;
$color-base-gray-2: #1C1C1C;
$color-base-gray-3: #2B2B2B;
$color-base-gray-4: #717171;
$color-base-gray-5: #9C9C9C;
$color-base-gray-6: #D5D5D5;
$color-base-gray-7: #EFEFEF;
$color-base-gray-8: #F9F9F9;
$color-base-white: #FEFEFE;

$color-primary-red: #F0331B;
$color-primary-success: #12E023;

$color-secondary-red:#3E1813;
$color-secondary-light-red:#FBD5D1;

$color-secondary-success: #113A15;
$color-secondary-light-success: #CFF8D2;