@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';
@import 'palette.scss';
@import 'typography.scss';
@import 'fonts.scss';

$nb-themes: nb-register-theme(
  (
    background-basic-color-2: $color-base-white,
    background-basic-color-3: $color-base-white,
    color-primary-400: $color-base-gray-8,
    color-primary-500: $color-base-gray-8,
    color-primary-600: $color-base-gray-8,
    color-basic-transparent-200: $color-base-gray-8,
    color-basic-default-border: $color-base-gray-8,
    layout-padding: 3rem 4rem,

    // text
    font-family-primary: Poppins,
    // h1 text
    text-heading-1-font-size: $text-h1-font-size,
    text-heading-1-font-weight: $text-h1-font-weight,
    text-heading-1-line-height: $text-h1-line-height,
    // h2 text
    text-heading-2-font-size: $text-h2-font-size,
    text-heading-2-font-weight: $text-h2-font-weight,
    text-heading-2-line-height: $text-h2-line-height,
    // p text
    text-paragraph-font-size: $text-p2-font-size,
    text-paragraph-font-weight: $text-p2-font-weight,
    text-paragraph-line-height: $text-p2-line-height,

    // select
    select-outline-basic-hover-background-color: --color-primary-400,
    text-control-color: --color-basic-800,
    border-basic-color-4: $color-base-white,
    //sidebar
    sidebar-shadow: 0,
    header-height: 0,
    sidebar-padding: 0,
    sidebar-width: 15rem,
    sidebar-border-color: $color-base-gray-7,
    sidebar-background-color: --color-primary-400,
    sidebar-text-font-weight: 600,
    sidebar-text-font-size: 0.813rem,
    sidebar-item-content-inactive-color: $color-base-gray-5,
    sidebar-item-content-active-color: $color-base-black,
    sidebar-item-background-inactive-color: --color-primary-400,
    sidebar-item-background-active-color: $color-base-gray-7,
    sidebar-item-icon-active-color: $color-primary-red,

    //layout
    layout-border-color: $color-base-gray-7,
    card-padding: 2rem 0,

    //settings
    settings-item-desctiption: $color-base-gray-5,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    background-basic-color-2: $color-base-black,
    color-primary-400: $color-base-gray-2,
    color-primary-500: $color-base-gray-2,
    color-primary-600: $color-base-gray-2,
    color-basic-200: $color-base-gray-2,
    color-basic-800: $color-base-black,
    color-basic-1000: $color-base-black,
    color-basic-1100: $color-base-black,
    color-basic-transparent-200: $color-base-gray-2,
    layout-padding: 3rem 4rem,

    // text
    font-family-primary: Poppins,
    // h1 text
    text-heading-1-font-size: $text-h1-font-size,
    text-heading-1-font-weight: $text-h1-font-weight,
    text-heading-1-line-height: $text-h1-line-height,
    // h2 text
    text-heading-2-font-size: $text-h2-font-size,
    text-heading-2-font-weight: $text-h2-font-weight,
    text-heading-2-line-height: $text-h2-line-height,
    // p text
    text-paragraph-font-size: $text-p2-font-size,
    text-paragraph-font-weight: $text-p2-font-weight,
    text-paragraph-line-height: $text-p2-line-height,

    // select
    select-outline-basic-focus-border-color: $color-base-black,
    select-outline-basic-hover-background-color: $color-base-gray-2,
    option-list-border-color: $color-base-gray-2,

    //sidebar
    sidebar-shadow: 0,
    header-height: 0,
    sidebar-padding: 0,
    sidebar-width: 15rem,
    sidebar-border-color: $color-base-gray-3,
    sidebar-background-color: $color-base-gray-1,
    sidebar-text-font-weight: 600,
    sidebar-text-font-size: 0.813rem,
    sidebar-item-content-inactive-color: $color-base-gray-5,
    sidebar-item-content-active-color: $color-base-white,
    sidebar-item-background-active-color: $color-base-gray-3,
    sidebar-item-icon-active-color: $color-primary-red,

    //layout
    layout-border-color: $color-base-gray-3,
    card-padding: 2rem 0,

    //settings
    settings-item-desctiption: $color-base-gray-5,
  ),
  dark,
  dark
);