@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';
@import 'palette.scss';
@import 'typography.scss';
@import 'fonts.scss';

$nb-themes: nb-register-theme(
  (
    background-basic-color-2: $color-base-white,
    background-basic-color-3: $color-base-white,
    color-primary-400: $color-base-gray-8,
    color-primary-500: $color-base-gray-8,
    color-primary-600: $color-base-gray-8,
    color-basic-transparent-200: $color-base-gray-8,
    color-basic-default-border: $color-base-gray-8,

    // text
    font-family-primary: Poppins,
    // h1 text
    text-heading-1-font-size: $text-h1-font-size,
    text-heading-1-font-weight: $text-h1-font-weight,
    text-heading-1-line-height: $text-h1-line-height,
    // h2 text
    text-heading-2-font-size: $text-h2-font-size,
    text-heading-2-font-weight: $text-h2-font-weight,
    text-heading-2-line-height: $text-h2-line-height,
    // h3 text
    text-heading-3-font-size: $text-h3-font-size,
    text-heading-3-font-weight: $text-h3-font-weight,
    text-heading-3-line-height: $text-h3-line-height,
    // h5 text
    text-heading-5-font-size: $text-p1-font-size,
    text-heading-5-font-weight: $text-p1-font-weight,
    text-heading-5-line-height: $text-p1-line-height,
    // h6 text
    text-heading-6-font-size: $text-button-m-font-size,
    text-heading-6-font-weight: $text-button-m-font-weight,
    text-heading-6-line-height: $text-button-m-line-height,
    // p text
    text-paragraph-font-size: $text-p2-font-size,
    text-paragraph-font-weight: $text-p2-font-weight,
    text-paragraph-line-height: $text-p2-line-height,
    // label text
    text-label-font-size: $text-button-bold-font-size,
    text-label-font-weight: $text-button-bold-font-weight,
    text-label-line-height: $text-button-bold-line-height,

    // select
    select-outline-basic-hover-background-color: --color-primary-400,
    text-control-color: --color-basic-800,
    border-basic-color-4: $color-base-white,
    select-outline-basic-disabled-text-color: $color-base-gray-7,
    select-outline-basic-disabled-border-color: $color-base-gray-7,
    select-outline-basic-disabled-icon-color: $color-base-gray-7,

    //sidebar
    sidebar-shadow: 0,
    header-height: 0,
    sidebar-padding: 0,
    sidebar-width: 15rem,
    sidebar-border-color: $color-base-gray-7,
    sidebar-background-color: --color-primary-400,
    sidebar-text-font-weight: 600,
    sidebar-text-font-size: 0.813rem,
    sidebar-item-content-inactive-color: $color-base-gray-5,
    sidebar-item-content-active-color: $color-base-black,
    sidebar-item-background-inactive-color: --color-primary-400,
    sidebar-item-background-active-color: $color-base-gray-7,
    sidebar-item-icon-active-color: $color-primary-red,

    //layout
    layout-padding: 3rem 4rem,
    layout-background-color: $color-base-white,
    layout-border-color: $color-base-gray-7,
    card-padding: 2rem 0,
    card-border-color: $color-base-white,

    //settings
    select-outline-basic-focus-border-color: $color-base-white,
    settings-item-desctiption: $color-base-gray-5,
    settings-item-disabled-color: $color-base-gray-7,

    //settings-text
    select-medium-text-font-size: $text-button-m-font-size,
    select-medium-text-font-weight: $text-button-m-font-weight,
    select-medium-text-line-height: $text-button-m-line-height,
    option-medium-text-font-size: $text-button-m-font-size,
    option-medium-text-font-weight: $text-button-m-font-weight,
    option-medium-text-line-height: $text-button-m-line-height,

    //toggle
    toggle-height: 1.875rem,
    toggle-width: 3.75rem,
    toggle-outline-width: 0px,
    toggle-basic-border-color: $color-base-white,
    toggle-basic-background-color: $color-base-gray-7,
    toggle-switcher-size: 1.5rem,
    toggle-border-radius: 31.25rem, //500px
    toggle-border-width: 0px,
    toggle-basic-hover-background-color: $color-base-gray-7,
    toggle-basic-hover-checked-background-color: $color-primary-red,
    toggle-basic-checked-background-color: $color-primary-red,
    toggle-basic-active-background-color: $color-base-gray-7,
    toggle-basic-active-checked-background-color: $color-primary-red,
    toggle-basic-focus-checked-background-color: $color-primary-red,
    toggle-basic-focus-background-color: $color-base-gray-7,
    toggle-basic-checked-switcher-checkmark-color: $color-base-white,
    toggle-basic-text-color: $color-base-white,
    toggle-basic-checked-switcher-background-color: $color-base-white,

    //hidelist
    hidelist-item-background-color: $color-base-gray-8,
    hidelist-item-border-color: $color-base-gray-7,

    //tag
    tag-red-background-color: $color-secondary-light-red,
    tag-red-color: $color-primary-red,
    tag-green-background-color: $color-secondary-light-success,
    tag-green-color: $color-primary-success,

    //dialog
    dialog-layout-border-color: $color-base-gray-7,
    dialog-header-border-color: $color-base-gray-7,
    dialog-closer-color: $color-base-black,

    //input
    input-basic-background-color: $color-base-gray-8,
    input-basic-border-color: $color-base-gray-7,
    input-basic-focus-background-color: $color-base-gray-8,
    input-basic-focus-border-color: $color-base-gray-7,
    input-basic-hover-background-color: $color-base-gray-8,
    input-basic-hover-border-color: $color-base-gray-7,
    input-basic-focus-and-hover-background-color: $color-base-gray-8,
    input-basic-focus-and-hover-border-color: $color-base-gray-7,
    input-basic-disabled-background-color: $color-base-white,
    input-basic-disabled-border-color: $color-base-gray-7,
    input-basic-disabled-text-color: $color-base-gray-7,
    input-medium-padding: 0.575rem 1.125rem, //9.2px 18px
    // input-placeholder
    input-basic-placeholder-color: $color-base-gray-5,
    input-basic-hover-placeholder-color: $color-base-black,
    input-basic-disabled-placeholder-color: $color-base-gray-7,
    // input-text
    input-basic-text-color: $color-base-black,
    input-medium-text-font-size: $text-button-m-font-size,
    input-medium-text-font-weight: $text-button-m-font-weight,
    input-medium-text-line-height: $text-button-m-line-height,
    // input-danger
    input-danger-background-color: $color-secondary-light-red,
    input-danger-border-color: $color-primary-red,
    input-danger-text-color: $color-primary-red,
    input-danger-hover-background-color: $color-secondary-light-red,
    input-danger-hover-border-color: $color-primary-red,
    input-danger-focus-background-color: $color-secondary-light-red,
    input-danger-focus-border-color: $color-primary-red,

    //set password
    set-passord-hint-color: $color-base-gray-5,

    //button
    button-filled-basic-background-color: $color-base-gray-7,
    button-filled-basic-border-color: $color-base-gray-7,
    button-filled-basic-text-color: $color-base-black,
    button-filled-text-transform: "",
    button-text-font-weight: $text-button-m-font-weight,
    button-filled-basic-hover-background-color: $color-base-gray-6,
    button-filled-basic-hover-border-color: $color-base-gray-6,
    button-filled-basic-focus-background-color: $color-base-gray-7,
    button-filled-basic-focus-border-color: $color-base-gray-7,
    button-filled-basic-active-background-color: $color-primary-red,
    button-filled-basic-active-border-color: $color-primary-red,
    button-outline-width: 0rem,
    button-filled-basic-disabled-background-color: transparent,
    button-filled-basic-disabled-border-color: $color-base-gray-7,
    button-filled-basic-disabled-text-color: $color-base-gray-7,

    //icon-button
    button-tiny-icon-size: 0.938rem,
    icon-button-ghost-tiny-padding: 0.27rem 0.15rem,
    button-ghost-border-width: 0rem,
    button-ghost-basic-text-color: $color-base-gray-5,
    button-ghost-basic-hover-background-color: $color-base-gray-7,
    button-ghost-basic-hover-text-color: $color-base-black,
    button-ghost-basic-active-background-color: $color-primary-red,
    button-ghost-basic-active-text-color: $color-base-black,
    button-ghost-basic-focus-background-color: transparent,
    button-ghost-basic-focus-text-color: $color-base-gray-5,
    button-ghost-danger-text-color: $color-primary-red,
    button-ghost-danger-hover-background-color: $color-primary-red,
    button-ghost-danger-hover-text-color: $color-base-black,
    button-ghost-danger-active-background-color: transparent,
    button-ghost-danger-active-text-color: $color-base-black,
    button-ghost-danger-focus-background-color: transparent,
    button-ghost-danger-focus-text-color: $color-primary-red,
    button-ghost-basic-disabled-background-color: transparent,
    button-ghost-basic-disabled-text-color: $color-base-gray-7,

    button-outline-color: transparent,

    //common
    corner-radius-12: 0.75rem,
    corner-radius-8: 0.5rem,
    corner-radius-4: 0.25rem,
    disable-header-text-color: $color-base-gray-7,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    background-basic-color-2: $color-base-black,
    background-basic-color-3: $color-base-black,
    color-primary-400: $color-base-gray-2,
    color-primary-500: $color-base-gray-2,
    color-primary-600: $color-base-gray-2,
    color-basic-200: $color-base-gray-2,
    color-basic-800: $color-base-black,
    color-basic-1000: $color-base-black,
    color-basic-1100: $color-base-black,
    color-basic-transparent-200: $color-base-gray-2,

    // text
    font-family-primary: Poppins,
    // h1 text
    text-heading-1-font-size: $text-h1-font-size,
    text-heading-1-font-weight: $text-h1-font-weight,
    text-heading-1-line-height: $text-h1-line-height,
    // h2 text
    text-heading-2-font-size: $text-h2-font-size,
    text-heading-2-font-weight: $text-h2-font-weight,
    text-heading-2-line-height: $text-h2-line-height,
    // h3 text
    text-heading-3-font-size: $text-h3-font-size,
    text-heading-3-font-weight: $text-h3-font-weight,
    text-heading-3-line-height: $text-h3-line-height,
    // h5 text
    text-heading-5-font-size: $text-p1-font-size,
    text-heading-5-font-weight: $text-p1-font-weight,
    text-heading-5-line-height: $text-p1-line-height,
    // h6 text
    text-heading-6-font-size: $text-button-m-font-size,
    text-heading-6-font-weight: $text-button-m-font-weight,
    text-heading-6-line-height: $text-button-m-line-height,
    // p text
    text-paragraph-font-size: $text-p2-font-size,
    text-paragraph-font-weight: $text-p2-font-weight,
    text-paragraph-line-height: $text-p2-line-height,

    // select
    select-outline-basic-focus-border-color: $color-base-black,
    select-outline-basic-hover-background-color: $color-base-gray-2,
    option-list-border-color: $color-base-gray-2,
    select-outline-basic-disabled-text-color: $color-base-gray-3,
    select-outline-basic-disabled-border-color: $color-base-gray-3,
    select-outline-basic-disabled-icon-color: $color-base-gray-3,

    //settings-text
    select-medium-text-font-size: $text-button-m-font-size,
    select-medium-text-font-weight: $text-button-m-font-weight,
    select-medium-text-line-height: $text-button-m-line-height,
    option-medium-text-font-size: $text-button-m-font-size,
    option-medium-text-font-weight: $text-button-m-font-weight,
    option-medium-text-line-height: $text-button-m-line-height,

    //sidebar
    sidebar-shadow: 0,
    header-height: 0,
    sidebar-padding: 0,
    sidebar-width: 15rem,
    sidebar-border-color: $color-base-gray-3,
    sidebar-background-color: $color-base-gray-1,
    sidebar-text-font-weight: 600,
    sidebar-text-font-size: 0.813rem,
    sidebar-item-content-inactive-color: $color-base-gray-5,
    sidebar-item-content-active-color: $color-base-white,
    sidebar-item-background-active-color: $color-base-gray-3,
    sidebar-item-icon-active-color: $color-primary-red,

    //layout
    layout-padding: 3rem 4rem,
    layout-border-color: $color-base-gray-3,
    card-padding: 2rem 0,

    //settings
    settings-item-desctiption: $color-base-gray-5,
    settings-item-disabled-color: $color-base-gray-3,

    //toggle
    toggle-height: 1.875rem,
    toggle-width: 3.75rem,
    toggle-outline-width: 0px,
    toggle-basic-border-color: $color-base-black,
    toggle-basic-background-color: $color-base-gray-3,
    toggle-basic-checked-switcher-background-color: $color-base-white,
    toggle-switcher-size: 1.5rem,
    toggle-border-radius: 31.25rem, //500px
    toggle-border-width: 0px,
    toggle-basic-hover-background-color: $color-base-gray-3,
    toggle-basic-hover-checked-background-color: $color-primary-red,
    toggle-basic-checked-background-color: $color-primary-red,
    toggle-basic-active-background-color: $color-base-gray-3,
    toggle-basic-active-checked-background-color: $color-primary-red,
    toggle-basic-focus-checked-background-color: $color-primary-red,
    toggle-basic-focus-background-color: $color-base-gray-3,
    toggle-basic-checked-switcher-checkmark-color: $color-base-white,
    toggle-basic-text-color: $color-base-white,

    //hidelist
    hidelist-item-background-color: $color-base-gray-2,
    hidelist-item-border-color: $color-base-gray-3,

    //tag
    tag-red-background-color: $color-secondary-red,
    tag-red-color: $color-primary-red,
    tag-green-background-color: $color-secondary-success,
    tag-green-color: $color-primary-success,

    //dialog
    dialog-layout-border-color: $color-base-gray-2,
    dialog-header-border-color: $color-base-gray-3,
    dialog-closer-color: $color-base-white,

    // input
    input-basic-background-color: $color-base-gray-1,
    input-basic-border-color: $color-base-gray-3,
    input-basic-focus-background-color: $color-base-gray-1,
    input-basic-focus-border-color: $color-base-gray-3,
    input-basic-hover-background-color: $color-base-gray-1,
    input-basic-hover-border-color: $color-base-gray-3,
    input-basic-focus-and-hover-background-color: $color-base-gray-1,
    input-basic-focus-and-hover-border-color: $color-base-gray-3,
    input-basic-disabled-background-color: $color-base-black,
    input-basic-disabled-border-color: $color-base-gray-3,
    input-basic-disabled-text-color: $color-base-gray-3,
    input-medium-padding: 0.575rem 1.125rem, //9.2px 18px
    // input-placeholder
    input-basic-placeholder-color: $color-base-gray-4,
    input-basic-hover-placeholder-color: $color-base-white,
    input-basic-disabled-placeholder-color: $color-base-gray-3,
    // input-text
    input-basic-text-color: $color-base-white,
    input-medium-text-font-size: $text-button-m-font-size,
    input-medium-text-font-weight: $text-button-m-font-weight,
    input-medium-text-line-height: $text-button-m-line-height,
    //input-danger
    input-danger-background-color: $color-secondary-red,
    input-danger-border-color: $color-primary-red,
    input-danger-text-color: $color-primary-red,
    input-danger-hover-background-color: $color-secondary-red,
    input-danger-hover-border-color: $color-primary-red,
    input-danger-focus-background-color: $color-secondary-red,
    input-danger-focus-border-color: $color-primary-red,

    //set password
    set-passord-hint-color: $color-base-gray-4,

    //button
    button-filled-basic-background-color: $color-base-gray-2,
    button-filled-basic-border-color: $color-base-gray-2,
    button-filled-basic-text-color: $color-base-white,
    button-filled-text-transform: "",
    button-text-font-weight: $text-button-m-font-weight,
    button-filled-basic-hover-background-color: $color-base-gray-3,
    button-filled-basic-hover-border-color: $color-base-gray-3,
    button-filled-basic-focus-background-color: $color-base-gray-2,
    button-filled-basic-focus-border-color: $color-base-gray-2,
    button-filled-basic-active-background-color: $color-primary-red,
    button-filled-basic-active-border-color: $color-primary-red,
    button-outline-width: 0rem,
    button-filled-basic-disabled-background-color: transparent,
    button-filled-basic-disabled-border-color: $color-base-gray-3,
    button-filled-basic-disabled-text-color: $color-base-gray-3,

    //icon-button
    button-tiny-icon-size: 0.938rem,
    icon-button-ghost-tiny-padding: 0.27rem 0.15rem,
    button-ghost-border-width: 0rem,
    button-ghost-basic-background-color: transparent,
    button-ghost-basic-text-color: $color-base-gray-4,
    button-ghost-basic-hover-background-color: $color-base-gray-3,
    button-ghost-basic-hover-text-color: $color-base-white,
    button-ghost-basic-active-background-color: $color-primary-red,
    button-ghost-basic-active-text-color: $color-base-white,
    button-ghost-basic-focus-background-color: transparent,
    button-ghost-basic-focus-text-color: $color-base-gray-4,
    button-ghost-danger-text-color: $color-primary-red,
    button-ghost-danger-hover-background-color: $color-primary-red,
    button-ghost-danger-hover-text-color: $color-base-white,
    button-ghost-danger-active-background-color: transparent,
    button-ghost-danger-active-text-color: $color-base-white,
    button-ghost-danger-focus-text-color: $color-base-white,
    button-ghost-danger-focus-background-color: transparent,
    button-ghost-basic-disabled-background-color: transparent,
    button-ghost-basic-disabled-text-color: $color-base-gray-3,

    button-outline-color: transparent,

    //common
    corner-radius-12: 0.75rem,
    corner-radius-8: 0.5rem,
    corner-radius-4: 0.25rem,
    disable-header-text-color: $color-base-gray-3,
  ),
  dark,
  dark
);