// h1 text
$text-h1-font-size: 1.875rem;
$text-h1-font-weight: 600;
$text-h1-line-height: 35px;
// h2 text
$text-h2-font-size: 1.625rem;
$text-h2-font-weight: 600;
$text-h2-line-height: 30px;
// h3 text
$text-h3-font-size: 1.375rem;
$text-h3-font-weight: 600;
$text-h3-line-height: 26px;
// h4 text
$text-h4-font-size: 1.25rem;
$text-h4-font-weight: 600;
$text-h4-line-height: 23px;
// p1 text
$text-p1-font-size: 1.125rem;
$text-p1-font-weight: 500;
$text-p1-line-height: 23px;
// p2 text
$text-p2-font-size: 0.875rem;
$text-p2-font-weight: 500;
$text-p2-line-height: 18px;
// button-m text
$text-button-m-font-size: 1rem; // 16px
$text-button-m-font-weight: 500;
$text-button-m-line-height: 19px; //21px
// button-bold text
$text-button-bold-font-size: 0.875rem; //14px
$text-button-bold-font-weight: 600;
$text-button-bold-line-height: 16px; //19.5px

// button-s text
$text-button-s-font-size: 0.875rem; //14px
$text-button-s-font-weight: 500;
$text-button-s-line-height: 16px; //18px