<div class="simple-item">
	<app-settings-item
		class="content simple-item__content"
		header="{{type}}s restrictions"
		description="Block the {{type}}s that you want to hide from your feed"
		[viewVersion]="viewVersion">
		<ruckit-toggle
			restrictedToggle
			class="ruckit-toggle"
			[lock]="isRestricted"
			[formControl]="toggleControl">
		</ruckit-toggle>
	</app-settings-item>
	<div class="simple-settings simple-item__simple-settings">
		<!-- // hideed adding logic for channels from settings -->
		<form
			*ngIf="type !== BlackListRestrictionType.Channels"
			class="add-new-item simple-settings__add-new-item">
			<input
				class="add-new-item__input input"
				fullWidth
				nbInput
				placeholder="Enter a {{placeholder}}"
				[fieldSize]="sizeByViewVersion"
				[attr.disabled]="disabled ? true : null"
				[formControl]="addItemControl"
				[status]="invalidAfterClick && addItemControl.invalid ? 'danger' : 'basic'"
			>
			<button
				class="add-new-item__button"
				nbButton
				[disabled]="disabled"
				[size]="sizeByViewVersion"
				(click)="onAddItemClick()">
				Add new
			</button>
		</form>
		<div class="manage simple-settings__manage">
			<button
				class="open-advanced-settings manage__open-advanced-settings"
				[ngClass]="
					{
						'open-advanced-settings_small' : viewVersion === ViewVersions.small,
						'open-advanced-settings_large' : viewVersion === ViewVersions.large
					}"
				restrictedButton
				[lock]="isRestricted"
				nbButton
				[disabled]="disabled"
				[size]="sizeByViewVersion"
				(restricedClick)="onManageRestrictionsClick()">
				Manage restrictions
			</button>
			@if (viewVersion === ViewVersions.large) {
				<h6
					[ngClass]="{'count_disabled': disabled }"
					class="count manage__count">
					Hiden {{type}}s: {{hidenCountItems}}
				</h6>
			}
			@else if (viewVersion === ViewVersions.small) {
				<p
					[ngClass]="{'count_disabled': disabled }"
					class="count manage__count">
					Hiden {{type}}s: {{hidenCountItems}}
				</p>
			}	
		</div>
	</div>
</div>