<div class="simple-item">
	<app-settings-item
		class="content simple-item__content"
		header="{{type}}s restrictions"
		description="Block the {{type}}s that you want to hide from your feed">
		<ruckit-toggle
			restrictedToggle
			class="ruckit-toggle"
			[lock]="isRestricted"
			[formControl]="toggleControl">
		</ruckit-toggle>
	</app-settings-item>
	<div class="simple-settings simple-item__simple-settings">
		<div
			class="add-new-item simple-settings__add-new-item"
			*ngIf="viewVersion === ViewVersions.large">
			<input
				class="add-new-item__input input"
				fullWidth
				nbInput
				placeholder="Enter a {{type}} name"
				[disabled]="disabled"
				[formControl]="addItemControl"
				[status]="invalidAfterClick && addItemControl.invalid ? 'danger' : 'basic'"
			>
			<button
				class="add-new-item__button"
				nbButton
				[disabled]="disabled"
				(click)="onAddItemClick()">
				Add new
			</button>
		</div>
		<div class="manage simple-settings__manage">
			<button
				class="manage__open-advanced-settings"
				restrictedButton
				[lock]="isRestricted"
				nbButton
				[disabled]="disabled"
				(restricedClick)="onManageRestrictionsClick()">
				Manage restrictions
			</button>
			<h6
				[ngClass]="{'count_disabled': disabled }"
				class="count manage__count">
				Hiden {{type}}s: {{hidenCountItems}}
			</h6>
		</div>
	</div>
</div>