@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

.set-new-password {
    display: flex;
    flex-direction: column;

    .hint {
        color: var(--set-passord-hint-color);
    }

    &__hint {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .set-new-password-inputs {
        display: flex;
        flex-direction: column;

        &__item:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .password-input {
            &::placeholder {
                color: var(--input-basic-placeholder-color);
                opacity: 1; /* Firefox */
            }
            
            &:focus::placeholder {
                color: transparent !important;
            }

            &:hover::placeholder {
                color: var(--input-basic-hover-placeholder-color);
            }

            &.status-danger::placeholder {
                color: var(--input-danger-text-color);
            }
        }
    }
}