<ruckit-dialog
  header="Setting a password"
  tagValue="Password settings"
  [tagType]="TagType.Green"
  (closed)="onClose()">
  <div class="set-new-password">
    <h6 class="set-new-password__hint hint">*be very careful not to lose your password</h6>
    <form class="set-new-password-inputs" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input
        class="set-new-password-inputs__item password-input"
        formControlName="enterPassword"
        [status]="invalidAfterClick && formGroup.controls.enterPassword.invalid ? 'danger' : 'basic'"
        type="password"
        fullWidth
        nbInput
        placeholder="Enter new password"
      >
      <input
        class="set-new-password-inputs__item password-input"
        formControlName="confirmPassword"
        [status]="invalidAfterClick && formGroup.controls.confirmPassword.invalid ? 'danger' : 'basic'"
        type="password"
        fullWidth
        nbInput
        placeholder="Confirm new password"
      >
      <button nbButton fullWidth>Set a password</button>
    </form>
  </div> 
</ruckit-dialog>