<nb-form-field class="form-field">
  <input
    #control
    nbInput
    class="form-field__password-input password-input"
    [type]="getInputType()"
    [value]="password"
    [status]="status"
    [disabled]="isDisabled"
    [fullWidth] = "fullWidth"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    (blur)="onBlur()"
  >
  <button
    class="form-field__icon-button icon-button"
    type="button"
    size="tiny"
    nbSuffix
    nbButton
    ghost
    [disabled]="isDisabled"
    (click)="toggleShowPassword()"
    [status]="status">
    <nb-icon
      [icon]="showPassword ? 'eye-15' : 'eye-off-15'"
      class="icon-button__eye-icon eye-icon"
      pack="ruckit-15"
      [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
    </nb-icon>
  </button>
</nb-form-field>