@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

:host {
    display: block;
}

.form-field:hover { 
    .icon-button:not(:disabled):not(.status-danger) {
        color: var(--input-basic-hover-placeholder-color);
    }
    
    .password-input:not(:disabled):not(.status-danger) {
        &::placeholder {
            color: var(--input-basic-hover-placeholder-color);
        }
    }
}

.password-input {
    &::placeholder {
        color: var(--input-basic-placeholder-color);
        opacity: 1; /* Firefox */
    }

    &:disabled::placeholder {
        color: var(--input-basic-disabled-placeholder-color);
        opacity: 1;
    }
    
    &:focus::placeholder {
        color: transparent !important;
    }

    &:not(:disabled).status-danger::placeholder {
        color: var(--input-danger-text-color);
    }
}