/* You can add global styles to this file, and also import other style files */
// this is our just created themes.scss file, make sure the path to the file is correct
@use './app/shared/styles/themes.scss' as *;

// framework component styles
@use '@nebular/theme/styles/globals' as *;

// install the framework styles
@include nb-install() {
  @include nb-theme-global();
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}