<ruckit-dialog
  header="Enter your password"
  tagValue="Access is restricted"
  [tagType]="TagType.Red"
  (closed)="onClose()">
  <div class="enter-password">
    <form class="enter-password-inputs" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input
        class="enter-password-inputs__item password-input"
        formControlName="enterPassword"
        [status]="invalidAfterClick && formGroup.controls.enterPassword.invalid ? 'danger' : 'basic'"
        type="password"
        fullWidth
        nbInput
        placeholder="Enter new password"
      >
      <button nbButton fullWidth>Confirm password</button>
    </form>
  </div> 
</ruckit-dialog>