@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

.enter-password {
    display: flex;
    flex-direction: column;

    padding-top: 2rem;

    .enter-password-inputs {
        display: flex;
        flex-direction: column;

        &__item:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .password-input {
            &::placeholder {
                color: var(--input-basic-placeholder-color);
                opacity: 1; /* Firefox */
            }
            
            &:focus::placeholder {
                color: transparent !important;
            }

            &:hover::placeholder {
                color: var(--input-basic-hover-placeholder-color);
            }

            &.status-danger::placeholder {
                color: var(--input-danger-text-color);
            }
        }
    }
}